<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.User.Dao.MessageMapper">
    <insert id="insertMessage" useGeneratedKeys = "true" keyProperty ="message_ID">
        insert into MESSAGE_TABLE (name,passWord,phone,region) VALUES (#{name},#{passWord},#{phone},#{region})
    </insert>
    <select id = "deleteMessage">
        select * from MESSAGE_TABLE where phone = #{phone} and passWord = #{passWord}
    </select>

    <update id = "recalledMessage">
        UPDATE  MESSAGE_TABLE SET where senderID = #{userId}
    </update>

    <update id = "updateMessageStatus">
        SELECT * FROM  MESSAGE_TABLE where phone = #{phone}
    </update>

    <select id="allListMessages" resultType="com.User.model.Message">
       SELECT  * FROM MESSAGE_TABLE WHERE
       senderID = #{userId} or receiveId = #{userId}
    </select>
</mapper>