<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.User.Dao.SMSCodeMapper">
    <select id="searchSmsCodeBeanByPhone" resultType="com.User.model.SMSCodeBean">
        SELECT * FROM SMS_CODE_TABLE  WHERE phone = #{phone}
    </select>

    <insert id = "insertSmsCodeBean" parameterType="com.User.model.SMSCodeBean">
        INSERT INTO SMS_CODE_TABLE (phone,smsCode,expire_time,smsCodeType) VALUES (#{phone},#{smsCode},#{expire_time},#{smsCodeType})
    </insert>

    <insert id="saveOrUpdate" parameterType="com.User.model.SMSCodeBean">
        INSERT INTO SMS_CODE_TABLE (phone,smsCode,smsCodeType)
        VALUES (#{phone},#{smsCode},#{smsCodeType})
        ON DUPLICATE KEY UPDATE
        <if test="smsCode != null">
            smsCode = #{smsCode}
        </if>
    </insert>
    <select id="judgeSmsCodeIsValid" resultType="com.User.model.SMSCodeBean">
        SELECT * FROM SMS_CODE_TABLE WHERE phone in (
        select phone FROM USER_INFO_TABLE WHERE userId = #{userId}
        )
    </select>

</mapper>