<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.User.Dao.UserInfoMapper">
    <insert id="registerUserInfo" useGeneratedKeys = "true" keyProperty ="userId">
        insert into USER_INFO_TABLE (name,passWord,phone,region,registerTime) VALUES (#{name},#{passWord},#{phone},#{region},#{registerTime})
    </insert>
    <select id = "loginUserInfo" resultType="com.User.model.UserInfo">
        select * from USER_INFO_TABLE where phone = #{phone} and passWord = #{passWord}
    </select>

    <select id = "searchUserInfoByUid" resultType="com.User.model.UserInfo">
        SELECT  * from USER_INFO_TABLE where userId = #{userId}
    </select>

    <select id = "searchUserInfoByPhone" resultType="com.User.model.UserInfo">
        SELECT * FROM  USER_INFO_TABLE where phone = #{phone}
    </select>

    <update id="updateUserInfo">
        UPDATE  USER_INFO_TABLE
        <set>
            <if test = "name != null">
                name = #{name}
            </if>
            <if test = "birthday != 0">
                birthday = #{birthday}
            </if>
            <if test = "email != null">
                email = #{email}
            </if>
        </set>
        WHERE userId = #{userId}
    </update>

    <update id = "updatePassWord">
        UPDATE USER_INFO_TABLE set passWord = #{newPassWord} WHERE userId = #{userId} and passWord = #{oldPassWord}
    </update>

    <update id = "updateAvatarUrl">
        update  USER_INFO_TABLE set avatarUrl = #{avatarUrl}  WHERE userId = #{userId}
    </update>

</mapper>