<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.User.Dao.UserAuthMapper">
    <insert id="insert_Auth" useGeneratedKeys = "true">
        insert into USER_INFO_Auth (token,userId,expire_Time,weChatOpenId,phone)
         VALUES (#{token},#{userId},#{expire_Time},#{weChatOpenId},#{phone})
    </insert>
    <select id="searchByToken" resultType="com.User.model.UserAuth">
       select * from USER_INFO_Auth where token = #{token}
    </select>
    <select id="searchByWeChatOpenId" resultType="com.User.model.UserAuth">
       select * from USER_INFO_Auth where weChatOpenId = #{weChatOpenId}
    </select>
    <update id = "update_AuthToken">
        update USER_INFO_Auth
        <set>
            <if test="token!=null">
                token = #{token}
            </if>

            <if test="weChatOpenId!=null">
                weChatOpenId = #{weChatOpenId}
            </if>
        </set>
        WHERE
         phone = #{phone}
    </update>



</mapper>