<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.User.Dao.UserInfoMapper">

    <resultMap type="com.User.model.UserInfo" id="searchCustomUserInfo">
        <id property="userId" column="userId"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="region" column="region"/>
        <result property="avatarUrl" column="avatarUrl"/>
        <result property="email" column="email"/>
        <result property="birthday" column="birthday"/>
        <result property="updateAt" column="updateAt"></result>
        <result property="registerTime" column="registerTime"></result>
        <result property="sex" column="sex"></result>
    </resultMap>

    <resultMap type="com.User.model.UserInfo" id="ClassResultMap" extends="searchCustomUserInfo">
        <association property="token" javaType="java.lang.String">
            <result property="token" column="token"/>
        </association>
    </resultMap>

    <insert id="registerUserInfo" useGeneratedKeys = "true" keyProperty ="userId">
        insert into USER_INFO_TABLE (name,passWord,phone,region,registerTime)
        VALUES (#{name},#{passWord},#{phone},#{region},#{registerTime})
    </insert>
    <update id="updateUserInfo">
        UPDATE  USER_INFO_TABLE
        <set>
            <if test = "name != null">
                name = #{name}
            </if>
            <if test = "birthday != 0">
                birthday = #{birthday}
            </if>
            <if test = "email != null">
                email = #{email}
            </if>
        </set>
        WHERE userId = #{userId}
    </update>

    <update id = "updatePassWord">
        UPDATE USER_INFO_TABLE set passWord = #{newPassWord}
        WHERE phone = #{phone} and passWord = #{oldPassWord}
    </update>

    <update id = "updateAvatarUrl">
        update  USER_INFO_TABLE set avatarUrl = #{avatarUrl}  WHERE userId = #{userId}
    </update>

    <select id="loginUserInfo" resultMap="ClassResultMap">
        select * from USER_INFO_TABLE c,USER_INFO_Auth a
        where c.phone=#{phone}
        and c.passWord=#{passWord}  and a.userId = c.userId
    </select>
    <select id = "searchUserInfoByUid" resultMap="searchCustomUserInfo">
        SELECT  USER_INFO_TABLE.userId,USER_INFO_TABLE.phone,USER_INFO_TABLE.avatarUrl,
        USER_INFO_TABLE.birthday,USER_INFO_TABLE.eamil,USER_INFO_TABLE.name,
        USER_INFO_TABLE.sex,USER_INFO_TABLE.region
        from USER_INFO_TABLE where userId = #{userId}
    </select>

    <select id = "searchUserInfoByPhone" resultMap="searchCustomUserInfo">
        SELECT  USER_INFO_TABLE.userId,USER_INFO_TABLE.phone,USER_INFO_TABLE.avatarUrl,
        USER_INFO_TABLE.birthday,USER_INFO_TABLE.eamil,USER_INFO_TABLE.name,
        USER_INFO_TABLE.sex,USER_INFO_TABLE.region
        from USER_INFO_TABLE where userId = #{userId}
    </select>


    <select id="customUserInfo" resultMap="ClassResultMap">
        select * from USER_INFO_TABLE c,
        USER_INFO_Auth a
        where c.phone = #{phone} and a.userId = c.userId
    </select>


    <!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->


    <update id= "resetPassWord">
       update USER_INFO_TABLE,USER_INFO_Auth
        set USER_INFO_TABLE.passWord = #{userInfo.passWord},
        USER_INFO_Auth.token = #{userInfo.token}
       where USER_INFO_TABLE.phone = #{userInfo.phone} and
       (SELECT SMS_CODE_TABLE.phone FROM SMS_CODE_TABLE
       WHERE SMS_CODE_TABLE.phone = #{userInfo.phone}
       and smsCode = #{smsCode})
    </update>

</mapper>